/**
 *	PWA CSS
 *	@https://web.dev/learn/pwa/app-design/
 */
#prime2g_offOnline_notif.off{transform:translateY(120%);}
#prime2g_offOnline_notif{position:fixed;left:0;right:0;bottom:0;transition:0.2s;
background:var(--content-text);color:var(--content-background);line-height:1;}
.oo_notif.off{display:none;}

@media (display-mode: browser) {
#prime2g_offOnline_notif,.appElement{display:none!important;}
}

@media (display-mode: standalone) {
}

@media (display-mode: standalone), (display-mode: fullscreen), (display-mode: minimal-ui) {}


/* setting user-system fonts */
/* selector { */
/* font-family: -apple-system, BlinkMacSystemFont, */
/* "Segoe UI", system-ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, */
/* "Helvetica Neue", sans-serif; */
/* } */

/* Disable Pull to refresh */
/* body { overscroll-behavior-y: contain; } */

